<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/src/assets/logo-withoutname.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MentorHub</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
    <script type="text/javascript">(function(){d=document;s=d.createElement("script");s.src="https://sitespeak.ai/chatbots/27f7b469-f9be-4668-9d9f-0f27efbc3239.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </body>
</html>
